# Import packages

In [50]:
import pandas as pd
import numpy as np

# Read dataset
### Read dataset into dataframes and display the 1st 5 rows

In [51]:
pd.set_option('display.max_columns', None)
df = pd.read_csv("Manhattan12.csv", skiprows=4)
df.head(5)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APART\nMENT\nNUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE\nPRICE,SALE DATE
0,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1306,,,345 WEST 14TH STREET,,10014,0,0,0,0,0,0,2,R4,"$2,214,693",20/05/2013
1,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1307,,,345 WEST 14TH STREET,,10014,0,0,0,0,0,0,2,R4,"$1,654,656",16/05/2013
2,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1308,,,345 WEST 14TH STREET,,10014,0,0,0,0,0,0,2,R4,"$1,069,162",23/05/2013
3,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1309,,,345 WEST 14TH STREET,,10014,0,0,0,0,0,0,2,R4,"$1,374,637",15/05/2013
4,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1310,,,345 WEST 14TH STREET,,10014,0,0,0,0,0,0,2,R4,"$1,649,565",13/05/2013

## Rename the column names by deleting the carriage return

In [52]:
df.columns = df.columns.str.replace("\n", "")

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27395 entries, 0 to 27394
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         27395 non-null  int64
 1   NEIGHBORHOOD                    27395 non-null  object
 2   BUILDING CLASS CATEGORY         27395 non-null  object
 3   TAX CLASS AT PRESENT            27395 non-null  object
 4   BLOCK                           27395 non-null  int64
 5   LOT                             27395 non-null  int64
 6   EASE-MENT                       27395 non-null  object
 7   BUILDING CLASS AT PRESENT       27395 non-null  object
 8   ADDRESS                         27395 non-null  object
 9   APARTMENTNUMBER                 27395 non-null  object
 10  ZIP CODE                        27395 non-null  int64
 11  RESIDENTIAL UNITS               27395 non-null  object
 12  COMMERCIAL UNITS                27395 non-null  int64
 13  TOTAL UNITS                     27395 non-null  object
 14  LAND SQUARE FEET                27395 non-null  object
 15  GROSS SQUARE FEET               27395 non-null  object
 16  YEAR BUILT                      27395 non-null  int64
 17  TAX CLASS AT TIME OF SALE       27395 non-null  int64
 18  BUILDING CLASS AT TIME OF SALE  27395 non-null  object
 19  SALEPRICE                       27395 non-null  object
 20  SALE DATE                       27395 non-null  object
dtypes: int64(7), object(14)
memory usage: 4.4+ MB

In [54]:
cat_vars = []
num_vars = []

for col in df.columns:
    if df[col].dtype == 'object':
        cat_vars.append(col)
    else:
        num_vars.append(col)

print("Categorical Variables:")
print(cat_vars)
print("\nNumerical Variables:")
print(num_vars)

Categorical Variables:
['NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT', 'EASE-MENT', 'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENTNUMBER', 'RESIDENTIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'BUILDING CLASS AT TIME OF SALE', 'SALEPRICE', 'SALE DATE']

Numerical Variables:
['BOROUGH', 'BLOCK', 'LOT', 'ZIP CODE', 'COMMERCIAL UNITS', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE']

In [55]:
df[cat_vars] = df[cat_vars].apply(lambda x: x.str.strip()).replace('', np.nan)

print(df.head())

   BOROUGH NEIGHBORHOOD           BUILDING CLASS CATEGORY  \
0        1          NaN  13  CONDOS - ELEVATOR APARTMENTS
1        1          NaN  13  CONDOS - ELEVATOR APARTMENTS
2        1          NaN  13  CONDOS - ELEVATOR APARTMENTS
3        1          NaN  13  CONDOS - ELEVATOR APARTMENTS
4        1          NaN  13  CONDOS - ELEVATOR APARTMENTS

  TAX CLASS AT PRESENT  BLOCK   LOT  EASE-MENT BUILDING CLASS AT PRESENT  \
0                  NaN    738  1306        NaN                       NaN
1                  NaN    738  1307        NaN                       NaN
2                  NaN    738  1308        NaN                       NaN
3                  NaN    738  1309        NaN                       NaN
4                  NaN    738  1310        NaN                       NaN

                  ADDRESS APARTMENTNUMBER  ZIP CODE RESIDENTIAL UNITS  \
0  345 WEST 14TH   STREET             NaN     10014                 0
1  345 WEST 14TH   STREET             NaN     10014                 0
2  345 WEST 14TH   STREET             NaN     10014                 0
3  345 WEST 14TH   STREET             NaN     10014                 0
4  345 WEST 14TH   STREET             NaN     10014                 0

   COMMERCIAL UNITS TOTAL UNITS LAND SQUARE FEET GROSS SQUARE FEET  \
0                 0           0                0                 0
1                 0           0                0                 0
2                 0           0                0                 0
3                 0           0                0                 0
4                 0           0                0                 0

   YEAR BUILT  TAX CLASS AT TIME OF SALE BUILDING CLASS AT TIME OF SALE  \
0           0                          2                             R4
1           0                          2                             R4
2           0                          2                             R4
3           0                          2                             R4
4           0                          2                             R4

    SALEPRICE   SALE DATE
0  $2,214,693  20/05/2013
1  $1,654,656  16/05/2013
2  $1,069,162  23/05/2013
3  $1,374,637  15/05/2013
4  $1,649,565  13/05/2013

In [57]:
df.shape

(27395, 21)

In [6]:
df["SALEPRICE"] = df["SALEPRICE"].str.replace(",","").str.replace("$","").astype(np.int64)

/var/folders/4m/__j4737x1p73lg1hgfht7tnm0000gn/T/ipykernel_20929/2076503121.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["SALEPRICE"] = df["SALEPRICE"].str.replace(",","").str.replace("$","").astype(np.int64)

In [8]:
cols = ['BOROUGH', 'EASE-MENT', 'APARTMENTNUMBER']

df.drop(columns=cols, axis=1, inplace=True)

In [16]:
df["BUILDING CLASS CATEGORY"] = df["BUILDING CLASS CATEGORY"].str.strip()

In [17]:
df["NEIGHBORHOOD"] = df["NEIGHBORHOOD"].str.strip()

In [21]:
df["SALE DATE"] = df["SALE DATE"].astype(np.datetime64)

/var/folders/4m/__j4737x1p73lg1hgfht7tnm0000gn/T/ipykernel_20929/4107402048.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df["SALE DATE"] = df["SALE DATE"].astype(np.datetime64)

In [20]:
df.head()

,Manhattan Rolling Sales File. All Sales From August 2012 - August 2013.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Sales File as of 08/30/2013 Coop Sales Files ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Neighborhood Name 09/06/13, Descriptive Data i...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Building Class Category is based on Building C...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APART\nMENT\nNUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE\nPRICE,SALE DATE
4,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1306,,,345 WEST 14TH STREET,,10014,0,0,0,0,0,0,2,R4,"$2,214,693",20/05/2013

In [26]:
df.drop_duplicates(inplace=True)
df.shape

(25802, 18)

(25802, 18)

In [18]:
import pandas as pd

# read in the dataset
df = pd.read_csv('Manhattan12.csv')

# create empty lists to hold categorical and numerical variables

Categorical Variables:
['Manhattan Rolling Sales File.  All Sales From August 2012 - August 2013. ', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20']

Numerical Variables:
[]

In [19]:
import pandas as pd

# read in the dataset
df = pd.read_csv('Manhattan12.csv')

# select the columns to replace zeros with NaN
cols_to_replace = ['Prices', 'Land squares']

# replace zeros with NaN in the selected columns
df[cols_to_replace] = df[cols_to_replace].replace(0, pd.np.nan)

# print the updated dataframe
print(df)

KeyError: "None of [Index(['Prices', 'Land squares'], dtype='object')] are in the [columns]"