# Import packages

In [27]:
import pandas as pd
import numpy as np

# Read dataset
### Read dataset into dataframes and display the 1st 5 rows

In [28]:
pd.set_option('display.max_columns', None)
df = pd.read_csv("Manhattan12.csv", skiprows=4)
df.head(5)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APART\nMENT\nNUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE\nPRICE,SALE DATE
0,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1306,,,345 WEST 14TH STREET,,10014,0,0,0,0,0,0,2,R4,"$2,214,693",20/05/2013
1,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1307,,,345 WEST 14TH STREET,,10014,0,0,0,0,0,0,2,R4,"$1,654,656",16/05/2013
2,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1308,,,345 WEST 14TH STREET,,10014,0,0,0,0,0,0,2,R4,"$1,069,162",23/05/2013
3,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1309,,,345 WEST 14TH STREET,,10014,0,0,0,0,0,0,2,R4,"$1,374,637",15/05/2013
4,1,,13 CONDOS - ELEVATOR APARTMENTS,,738,1310,,,345 WEST 14TH STREET,,10014,0,0,0,0,0,0,2,R4,"$1,649,565",13/05/2013

## Rename the column names by deleting the carriage return

In [29]:
df.columns = df.columns.str.replace("\n", "")

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27395 entries, 0 to 27394
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         27395 non-null  int64
 1   NEIGHBORHOOD                    27395 non-null  object
 2   BUILDING CLASS CATEGORY         27395 non-null  object
 3   TAX CLASS AT PRESENT            27395 non-null  object
 4   BLOCK                           27395 non-null  int64
 5   LOT                             27395 non-null  int64
 6   EASE-MENT                       27395 non-null  object
 7   BUILDING CLASS AT PRESENT       27395 non-null  object
 8   ADDRESS                         27395 non-null  object
 9   APARTMENTNUMBER                 27395 non-null  object
 10  ZIP CODE                        27395 non-null  int64
 11  RESIDENTIAL UNITS               27395 non-null  object
 12  COMMERCIAL UNITS                27395 non-null  int64
 13  TOTAL UNITS                     27395 non-null  object
 14  LAND SQUARE FEET                27395 non-null  object
 15  GROSS SQUARE FEET               27395 non-null  object
 16  YEAR BUILT                      27395 non-null  int64
 17  TAX CLASS AT TIME OF SALE       27395 non-null  int64
 18  BUILDING CLASS AT TIME OF SALE  27395 non-null  object
 19  SALEPRICE                       27395 non-null  object
 20  SALE DATE                       27395 non-null  object
dtypes: int64(7), object(14)
memory usage: 4.4+ MB

In [35]:
print(df.columns)

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENTNUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALEPRICE', 'SALE DATE'],
      dtype='object')

Create list of categorical variables and another for the numerical variables

In [41]:
df.columns = df.columns.str.strip()

# Convert numerical columns to numeric type
num_vars = ['SALEPRICE', 'LAND SQUARE FEET', 'GROSS SQUARE FEET','COMMERCIAL UNITS','RESIDENTIAL UNITS','TOTAL UNITS']
for col in numerical_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Categorical and numerical columns
cat_vars = df.select_dtypes(include='object').columns.tolist()
num_vars = df.select_dtypes(include=['int', 'float']).columns.tolist()

print('Categorical columns:', cat_vars)
print('Numerical columns:', num_vars)

Categorical columns: ['NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT', 'EASE-MENT', 'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENTNUMBER', 'BUILDING CLASS AT TIME OF SALE', 'SALE DATE']
Numerical columns: ['BOROUGH', 'BLOCK', 'LOT', 'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE', 'SALEPRICE']

For each categorical variable, remove the spaces, and then replace the empty string '' by NaN.

In [42]:
df[cat_vars] = df[cat_vars].apply(lambda x: x.str.strip()).replace('', np.nan)

print(df.head())

   BOROUGH NEIGHBORHOOD           BUILDING CLASS CATEGORY  \
0        1          NaN  13  CONDOS - ELEVATOR APARTMENTS
1        1          NaN  13  CONDOS - ELEVATOR APARTMENTS
2        1          NaN  13  CONDOS - ELEVATOR APARTMENTS
3        1          NaN  13  CONDOS - ELEVATOR APARTMENTS
4        1          NaN  13  CONDOS - ELEVATOR APARTMENTS

  TAX CLASS AT PRESENT  BLOCK   LOT  EASE-MENT BUILDING CLASS AT PRESENT  \
0                  NaN    738  1306        NaN                       NaN
1                  NaN    738  1307        NaN                       NaN
2                  NaN    738  1308        NaN                       NaN
3                  NaN    738  1309        NaN                       NaN
4                  NaN    738  1310        NaN                       NaN

                  ADDRESS APARTMENTNUMBER  ZIP CODE  RESIDENTIAL UNITS  \
0  345 WEST 14TH   STREET             NaN     10014                0.0
1  345 WEST 14TH   STREET             NaN     10014                0.0
2  345 WEST 14TH   STREET             NaN     10014                0.0
3  345 WEST 14TH   STREET             NaN     10014                0.0
4  345 WEST 14TH   STREET             NaN     10014                0.0

   COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET  \
0                 0          0.0               0.0                0.0
1                 0          0.0               0.0                0.0
2                 0          0.0               0.0                0.0
3                 0          0.0               0.0                0.0
4                 0          0.0               0.0                0.0

   YEAR BUILT  TAX CLASS AT TIME OF SALE BUILDING CLASS AT TIME OF SALE  \
0           0                          2                             R4
1           0                          2                             R4
2           0                          2                             R4
3           0                          2                             R4
4           0                          2                             R4

   SALEPRICE   SALE DATE
0        NaN  20/05/2013
1        NaN  16/05/2013
2        NaN  23/05/2013
3        NaN  15/05/2013
4        NaN  13/05/2013

In [8]:
df.shape

(27395, 21)

In [9]:
df["SALEPRICE"] = df["SALEPRICE"].str.replace(",","").str.replace("$","").astype(np.int64)

C:\Users\Admin\AppData\Local\Temp\ipykernel_3932\2076503121.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["SALEPRICE"] = df["SALEPRICE"].str.replace(",","").str.replace("$","").astype(np.int64)

In [10]:
cols = ['BOROUGH', 'EASE-MENT', 'APARTMENTNUMBER']

df.drop(columns=cols, axis=1, inplace=True)

In [11]:
df["BUILDING CLASS CATEGORY"] = df["BUILDING CLASS CATEGORY"].str.strip()

In [12]:
df["NEIGHBORHOOD"] = df["NEIGHBORHOOD"].str.strip()

In [13]:
df["SALE DATE"] = df["SALE DATE"].astype(np.datetime64)

C:\Users\Admin\AppData\Local\Temp\ipykernel_3932\355810377.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df["SALE DATE"] = df["SALE DATE"].astype(np.datetime64)

In [14]:
df.head()

,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALEPRICE,SALE DATE
0,NaN,13 CONDOS - ELEVATOR APARTMENTS,NaN,738,1306,NaN,345 WEST 14TH STREET,10014,0,0,0,0,0,0,2,R4,2214693,2013-05-20
1,NaN,13 CONDOS - ELEVATOR APARTMENTS,NaN,738,1307,NaN,345 WEST 14TH STREET,10014,0,0,0,0,0,0,2,R4,1654656,2013-05-16
2,NaN,13 CONDOS - ELEVATOR APARTMENTS,NaN,738,1308,NaN,345 WEST 14TH STREET,10014,0,0,0,0,0,0,2,R4,1069162,2013-05-23
3,NaN,13 CONDOS - ELEVATOR APARTMENTS,NaN,738,1309,NaN,345 WEST 14TH STREET,10014,0,0,0,0,0,0,2,R4,1374637,2013-05-15
4,NaN,13 CONDOS - ELEVATOR APARTMENTS,NaN,738,1310,NaN,345 WEST 14TH STREET,10014,0,0,0,0,0,0,2,R4,1649565,2013-05-13

Replace the zeros in Prices, Land squares, etc. by NaN

In [44]:
df[num_vars] = df[num_vars].replace(0, np.nan)

Show a summary of all missing values as well as the summary statistics

In [45]:
print("Summary of missing values:\n", df.isnull().sum())
print("\nSummary statistics:\n", df.describe())

Summary of missing values:
 BOROUGH                               0
NEIGHBORHOOD                         17
BUILDING CLASS CATEGORY            3454
TAX CLASS AT PRESENT                143
BLOCK                                 0
LOT                                   0
EASE-MENT                         27395
BUILDING CLASS AT PRESENT           143
ADDRESS                               0
APARTMENTNUMBER                   14570
ZIP CODE                              1
RESIDENTIAL UNITS                 16373
COMMERCIAL UNITS                  23962
TOTAL UNITS                        9705
LAND SQUARE FEET                  27326
GROSS SQUARE FEET                 27389
YEAR BUILT                         6441
TAX CLASS AT TIME OF SALE             0
BUILDING CLASS AT TIME OF SALE        0
SALEPRICE                         27395
SALE DATE                             0
dtype: int64

Summary statistics:
        BOROUGH         BLOCK           LOT  EASE-MENT      ZIP CODE  \
count  27395.0  27395.000000  27395.000000        0.0  27394.000000
mean       1.0   1109.666728    741.789086        NaN  10029.226217
std        0.0    465.994469    819.422424        NaN     34.966983
min        1.0      7.000000      1.000000        NaN  10001.000000
25%        1.0    877.000000     37.000000        NaN  10016.000000
50%        1.0   1047.000000   1007.000000        NaN  10019.000000
75%        1.0   1411.000000   1233.000000        NaN  10027.000000
max        1.0   2250.000000   9117.000000        NaN  10463.000000

       RESIDENTIAL UNITS  COMMERCIAL UNITS   TOTAL UNITS  LAND SQUARE FEET  \
count       11022.000000       3433.000000  17690.000000         69.000000
mean            4.269915          2.992426      3.469192        800.811594
std            19.548320         12.689861     16.651017        158.830494
min             1.000000          1.000000      1.000000        200.000000
25%             1.000000          1.000000      1.000000        750.000000
50%             1.000000          2.000000      1.000000        840.000000
75%             1.000000          2.000000      1.000000        915.000000
max           904.000000        604.000000    904.000000        997.000000

       GROSS SQUARE FEET    YEAR BUILT  TAX CLASS AT TIME OF SALE  SALEPRICE
count           6.000000  20954.000000               27395.000000        0.0
mean          657.666667   1953.080557                   2.488118        NaN
std           282.008983     37.692641                   0.891723        NaN
min           253.000000   1000.000000                   1.000000        NaN
25%           535.500000   1920.000000                   2.000000        NaN
50%           612.000000   1955.000000                   2.000000        NaN
75%           873.000000   1987.000000                   4.000000        NaN
max           999.000000   2013.000000                   4.000000        NaN

Drop the columns 'BOROUGH', 'EASE-MENT', 'APARTMENT NUMBER'

In [47]:
df = df.drop(columns=['BOROUGH', 'EASE-MENT', 'APARTMENTNUMBER'])

Drop duplicates if any

In [48]:
df.drop_duplicates(inplace=True)
df.shape

(24413, 18)

Drop rows with NaN values

In [49]:
df=df.dropna()

Empty DataFrame
Columns: [NEIGHBORHOOD, BUILDING CLASS CATEGORY, TAX CLASS AT PRESENT, BLOCK, LOT, BUILDING CLASS AT PRESENT, ADDRESS, ZIP CODE, RESIDENTIAL UNITS, COMMERCIAL UNITS, TOTAL UNITS, LAND SQUARE FEET, GROSS SQUARE FEET, YEAR BUILT, TAX CLASS AT TIME OF SALE, BUILDING CLASS AT TIME OF SALE, SALEPRICE, SALE DATE]
Index: []

Identify and remove outliers if any

In [51]:
df = df[df['SALEPRICE'] < df['SALEPRICE'].quantile(0.99)]

In [52]:
print("\nShape of the resulting dataframe:", df.shape)

Shape of the resulting dataframe: (0, 18)

•	Consider the log of the prices and normalise the data.

In [57]:
df['LOG_SALE_PRICE'] = np.log(df['SALEPRICE'])
df[num_vars] = (df[num_vars] - df[num_vars].mean()) / df[num_vars].std()

KeyError: "None of [Index(['GROSS_SQUARE_FEET', 'LAND_SQUARE_FEET', 'YEAR_BUILT'], dtype='object')] are in the [columns]"